body {
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvasObject {
    border: 5px solid white;
    background: black;
    display: block;
}